{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://i.ibb.co/RST4HvR/Untitled-design.png" />
  <title>Register Member -Gmatrix</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script src="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.js"></script>
  {% tailwind_css %}
  <style>
    /* Add custom styles if needed */
  </style>
</head>
<body class="flex bg-gray-100">
  <aside class="h-screen w-1/4 p-5 fixed">
    {% include "Dashboard/admin_nav.html" %}
  </aside>
  <section class="h-screen w-3/4 p-5 absolute inset-y-0 right-0">
    {% include "Dashboard/admin_header.html" %}
    <main class="mt-5 text-black bg-white rounded-xl border border-gray-300 px-5 py-10">
      <h1 class="mt-5 font-bold text-center text-4xl text-gray-800 mb-8">Register New Member</h1>
      <hr class="my-10 border border-gray-300" />

      <!-- Display success or error messages -->
      {% if messages %}
        <div class="mb-4">
          {% for message in messages %}
            <div class="p-4 mb-4 text-sm text-white bg-green-500 rounded-lg dark:bg-green-800 dark:text-green-300" role="alert">
              <span class="font-medium">{{ message }}</span>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <form id="memberForm" action="{% url 'members_register' %}" method="POST">
        {% csrf_token %}
        <div class="w-1/2 mx-auto">
          <label class="block mb-2 text-sm font-medium text-gray-900">Member Type</label>
          <select name="category" id="category"
            class="bg-gray-50 p-2 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full">
            <option value="Student">Student</option>
            <option value="Alumni">Alumni</option>
          </select>
        </div>

        <hr class="my-10 border border-gray-300" />

        <div class="grid gap-6 mb-6 md:grid-cols-2">
          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900">Member Name</label>
            <input type="text" placeholder="Karimullah" name="name" required
              class="bg-gray-50 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full" />
          </div>

          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900">CNIC</label>
            <input type="text" placeholder="35201-1234567-8" name="cnic" required id="cnicInput"
              class="bg-gray-50 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full" />
          </div>

          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900">Phone Number</label>
            <input type="text" placeholder="03009410503" minlength="11" maxlength="11" name="phone_no" required
              class="bg-gray-50 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full" />
          </div>

          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900">Email</label>
            <input type="email" placeholder="fa21-bscs-342@lgu.edu.pk" name="email" required
              class="bg-gray-50 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full" />
          </div>

          <div id="reg_num">
            <input type="hidden" id="reg_num_concat" name="reg_num" />
            <label class="block mb-2 text-sm font-medium text-gray-900">Registration Number</label>
            <div class="flex items-center">
              <input id="batch_year" type="text" placeholder="FA-2021" name="batch_year" oninput="formatBatchYear(this)"
                class="flex-1 mr-2 bg-gray-50 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full" />
              <select id="dept_degree" name="dept_degree" required
                class="flex-1 mr-2 p-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full">
                <option value="" disabled selected>Select Degree</option>
                <option value="BSCS">BSCS</option>
                <option value="BSIT">BSIT</option>
                <option value="BSSE">BSSE</option>
              </select>
              <input id="roll_num" type="text" placeholder="342" name="roll_num" oninput="formatRollNumber(this)"
                class="flex-1 bg-gray-50 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full" />
            </div>
          </div>

          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900">Department</label>
            <select id="department" name="department"
              class="bg-gray-50 p-2 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full">
              <option selected disabled>Select</option>
              <option value="Computer Science">Computer Science</option>
              <option value="Software Engineering">Software Engineering</option>
              <option value="Information Technology">Information Technology</option>
            </select>
          </div>

          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900">Batch</label>
            <select id="batch" name="batch"
              class="bg-gray-50 p-2 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full">
              <option selected disabled>Select</option>
              <option value="SP-25">SP-25</option>
              <option value="FA-25">FA-25</option>
              <option value="SP-24">SP-24</option>
              <option value="FA-24">FA-24</option>
              <option value="FA-23">FA-23</option>
              <option value="SP-23">SP-23</option>
              <option value="FA-22">FA-22</option>
              <option value="SP-22">SP-22</option>
              <option value="FA-21">FA-21</option>
              <option value="SP-21">SP-21</option>
              <option value="FA-20">FA-20</option>
              <option value="SP-20">SP-20</option>
              <option value="FA-19">FA-19</option>
              <option value="SP-19">SP-19</option>
              <option value="FA-18">FA-18</option>
              <option value="SP-18">SP-18</option>
              <option value="FA-17">FA-17</option>
              <option value="SP-17">SP-17</option>
              <option value="FA-16">FA-16</option>
              <option value="SP-16">SP-16</option>
            </select>
          </div>

          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900">Address</label>
            <input type="text" placeholder="Robotics Lab Old Building" name="address" required
              class="bg-gray-50 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full" />
          </div>

          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900">Joining Date</label>
            <input type="date" name="joining_date" required
              class="bg-gray-50 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full" />
          </div>

          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900">Designation</label>
            <select name="designation" id="designation" required
              class="bg-gray-50 p-2 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full">
              <option value="" disabled selected>Select Designation</option>
              <option value="President">President</option>
              <option value="Vice President">Vice President</option>
              <option value="Secretary">Secretary</option>
              <option value="Treasurer">Treasurer</option>
              <option value="Member">Member</option>
            </select>
          </div>

         <div>
            <label class="block mb-2 text-sm font-medium text-gray-900">Member Status</label>
            <select name="status" id="status"
              class="bg-gray-50 p-2 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full">
              <option value="" disabled selected>Select Status</option>
              <option value="Active">Active</option>
              <option value="Inactive">Inactive</option>
              <option value="On Warning">On Warning</option>
              <option value="Terminated">Terminated</option>
            </select>
          </div>



        </div>



        <button type="button" id="checkButton" class="w-full rounded-xl bg-gray-600 text-white font-bold text-lg py-3 border hover:bg-blue-600">
         Register Member
        </button>
        <button type="submit" id="hiddenSubmitButton" style="display: none;"></button>
      </form>
    </main>
  </section>

  <!-- JavaScript to handle input formatting -->
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const cnicInput = document.getElementById('cnicInput');
      const phoneInput = document.querySelector('input[name="phone_no"]');
      const batchYearInput = document.getElementById('batch_year');
      const form = document.getElementById('memberForm');
      const checkButton = document.getElementById('checkButton');
      const hiddenSubmitButton = document.getElementById('hiddenSubmitButton');
      let isFormValid = true;


      const formatCNIC = (value) => {
        return value.replace(/(\d{5})(\d{7})(\d{1})/, '$1-$2-$3');
      };

      // Function to format phone number
      const formatPhoneNumber = (value) => {
        return value.replace(/\D/g, '').slice(0, 11);
      };


      const formatBatchYear = (input) => {
        let value = input.value.toUpperCase();
        value = value.replace(/[^A-Z0-9]/g, ''); // Remove invalid characters
        if (value.length > 0) {
          value = value.slice(0, 2) + '-' + value.slice(2);
        }
        input.value = value;
      };


      const formatRollNumber = (input) => {
        let value = input.value.replace(/[^0-9]/g, ''); // Remove non-numeric characters
        input.value = value;
      };

      // Event listener for CNIC input formatting
      cnicInput.addEventListener('input', () => {
        cnicInput.value = formatCNIC(cnicInput.value);
      });


      phoneInput.addEventListener('input', () => {
        phoneInput.value = formatPhoneNumber(phoneInput.value);
      });


      batchYearInput.addEventListener('input', () => {
        formatBatchYear(batchYearInput);
      });

      document.getElementById('roll_num').addEventListener('input', () => {
        formatRollNumber(document.getElementById('roll_num'));
      });

      cnicInput.addEventListener('blur', async () => {
        const cnic = cnicInput.value.trim();
        if (cnic) {
          try {
            const response = await fetch(`/check-cnic/?cnic=${encodeURIComponent(cnic)}`);
            const data = await response.json();
            
            if (data.exists) {
              Toastify({
                text: "A member with this CNIC is already registered.",
                duration: 3000,
                backgroundColor: "linear-gradient(to right, #ff4b2b, #ff416c)",
              }).showToast();
              isFormValid = false;
            } else {
              isFormValid = true;
            }
          } catch (error) {
            console.error('Error checking CNIC:', error);
            isFormValid = false;
          }
        }
      });

      checkButton.addEventListener('click', (event) => {
        if (isFormValid) {
          hiddenSubmitButton.click(); 
        } else {
          Toastify({
            text: "The form cannot be submitted because the CNIC is already registered.",
            duration: 3000,
            backgroundColor: "linear-gradient(to right, #ff4b2b, #ff416c)",
          }).showToast();
        }
      });
    });
  </script>
</body>
</html>
