{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'imgs/lgu-logo.png' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% tailwind_css %}
</head>

<body>
    <main class="mt-5 text-black bg-white rounded-xl border border-gray-300 px-5 py-10">
        <form action="" method="POST">
            {% csrf_token %}
            <h1 class="font-bold text-center text-3xl text-black mb-8">Product Issuance Form</h1>

            <div class="mt-8 text-center">
              <a href="" class="inline-block rounded-xl bg-blue-500 text-white font-bold text-lg py-3 px-6 border hover:bg-blue-600">
                  <i class="fas fa-download mr-2"></i> Download Slip
              </a>
          </div>
            <hr class="my-10 border border-gray-300" />

            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <!-- Product Information -->
                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900">Product Name</label>
                    <input type="text" placeholder="Product Name" name="product_name" required
                        class="bg-gray-50 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full" />
                </div>

                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900">Product Category</label>
                    <select required name="product_category" id="product_category"
                        class="bg-gray-50 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full">
                        <option value="Sensors">Sensors</option>
                        <option value="Tools">Tools</option>
                        <option value="Microcontrollers">Microcontrollers</option>
                        <option value="Soldering Equipment">Soldering Equipment</option>
                        <option value="Drones">Drones</option>
                        <option value="Actuators">Actuators</option>
                        <option value="Batteries">Batteries</option>
                        <option value="Systems">Systems</option>
                    </select>
                </div>

                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900">Product Model</label>
                    <input type="text" placeholder="Product Model" name="product_model" required
                        class="bg-gray-50 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full" />
                </div>

                <!-- Student Information -->
                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900">Student Name</label>
                    <input type="text" placeholder="Student Name" name="student_name" required
                        class="bg-gray-50 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full" />
                </div>

                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900">Student Roll No</label>
                    <input type="text" placeholder="Student Roll No" name="student_roll_no" required
                        class="bg-gray-50 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full" />
                </div>

                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900">Student Department</label>
                    <select required name="student_department" id="student_department"
                        class="bg-gray-50 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full">
                        <option value="Computer Science">Computer Science</option>
                        <option value="Software Engineering">Software Engineering</option>
                        <option value="Information Technology">Information Technology</option>
                    </select>
                </div>

                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900">Student CNIC</label>
                    <input type="text" placeholder="CNIC" name="student_cnic" required
                        class="bg-gray-50 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full" />
                </div>

                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900">Phone Number</label>
                    <input type="tel" placeholder="03009410503" name="phone_no" required
                        class="bg-gray-50 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full" />
                </div>

                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900">WhatsApp Number</label>
                    <input type="tel" placeholder="03009410503" name="whatsapp_no"
                        class="bg-gray-50 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full" />
                </div>

                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900">Email Address</label>
                    <input type="email" placeholder="email@example.com" name="email" required
                        class="bg-gray-50 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full" />
                </div>

                <!-- Issuance Details -->
                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900">Issue Date</label>
                    <input type="date" name="issue_date" required
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full" />
                </div>

                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900">Return Date</label>
                    <input type="date" name="return_date" required
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full" />
                </div>

                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900">Additional Notes</label>
                    <textarea placeholder="Additional Notes" name="notes" rows="4"
                        class="bg-gray-50 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full"></textarea>
                </div>
            </div>

            <button type="submit" class="w-full rounded-xl bg-gray-500 text-white font-bold text-lg py-3 border hover:bg-gray-600">
                <i class="fas fa-check mr-2"></i> Submit Issuance
            </button>
        </form>

    
    </main>
</body>
</html>
