{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://i.ibb.co/RST4HvR/Untitled-design.png" />
  <title>Add Item -Gmatrix</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script src="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.js"></script>
  {% tailwind_css %}
  <style>
    /* Add custom styles if needed */
  </style>
</head>
<body class="flex bg-gray-100">
  <aside class="h-screen w-1/4 p-5 fixed">
    {% include "Dashboard/admin_nav.html" %}
  </aside>
  <section class="h-screen w-3/4 p-5 absolute inset-y-0 right-0">
    {% include "Dashboard/admin_header.html" %}
    <main class="mt-5 text-black bg-white rounded-xl border border-gray-300 px-5 py-10">

      <h1 class="mt-5 font-bold text-center text-4xl text-gray-800 mb-8">Add New Product</h1>
      <hr class="my-10 border border-gray-300" />

      <form id="productForm" action="{% url 'product_add' %}" method="POST">
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 w-full">

          <div class="col-span-1">
            <label class="block mb-2 text-sm font-medium text-gray-900">Category</label>
            <select name="category" id="category" 
              class="bg-gray-50 p-2 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full">
              <option value="" disabled selected>Select Category</option>
              <option value="micro-controller">Micro-Controller</option>
              <option value="sensor">Sensor</option>
              <option value="soldering">Soldering</option>
              <option value="tools">Tools</option>
              <option value="motor_drivers">Motor Drivers</option>
              <option value="communication_modules">Communication Modules</option>
              <option value="power_and_charging">Power and Charging</option>
              <option value="displays_and_interfaces">Displays and Interfaces</option>
              <option value="wiring_and_connectors">Wiring and Connectors</option>
              <option value="robotics_and_drones">Robotics and Drones</option>
              <option value="miscellaneous">Miscellaneous</option>
              <option value="others">Others</option>
              
            </select>
          </div>


          <div class="col-span-1">
            <label class="block mb-2 text-sm font-medium text-gray-900">Model</label>
            <select name="model" id="model" 
              class="bg-gray-50 p-2 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full">

            </select>
          </div>


          <div class="col-span-1">
            <label class="block mb-2 text-sm font-medium text-gray-900">Status</label>
            <select name="status" id="status" 
              class="bg-gray-50 p-2 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full">
              <option value="" disabled selected>Select Status</option>
              <option value="working">Working</option>
              <option value="damage">Damage</option>
              <option value="out_of_stock">Out of Stock</option>
            </select>
          </div>


          <div class="col-span-1">
            <label class="block mb-2 text-sm font-medium text-gray-900">Quantity</label>
            <input type="number" name="quantity" min="1" 
              class="bg-gray-50 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full" />
          </div>


          <div class="col-span-1">
            <label class="block mb-2 text-sm font-medium text-gray-900">Purchase Date</label>
            <input type="date" name="purchase_date" 
              class="bg-gray-50 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full" />
          </div>


          <div class="col-span-1">
            <label class="block mb-2 text-sm font-medium text-gray-900">Price</label>
            <input type="number" name="price" min="0" step="0.01" 
              class="bg-gray-50 placeholder-gray-400 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full" />
          </div>


          <div class="col-span-1 md:col-span-2">
            <button type="submit" id="submitButton" class="w-full mt-6 rounded-xl bg-gray-600 text-white font-bold text-lg py-3 border hover:bg-blue-600">
              Add Product
            </button>
          </div>
        </div>
      </form>
    </main>
  </section>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const categorySelect = document.getElementById('category');
      const modelSelect = document.getElementById('model');

      const models = {
        'micro-controller': ['ESP8266', 'Arduino UNO', 'Arduino Nano', 'Arduino Mega', 'ESP32' ,'Rasberry Pi 5', 'Pro Micro',"ESP8266"],
    'Sensor': [
        'Ultrasonic Sensor',
        'GPS Module',
        'IR Sensor',
        'Sharp IR',
        'Color Sensor',
        'Water Sensor',
        'Heart Rate Sensor',
        'Soil Moisture Sensor',
        'MQ2 Sensor',
        'DHT22',
        'IR Array',
        'QTR Array',
        'Temperature Sensor'
    ],
    'soldering': ['Soldering Iron', 'Soldering Wire', 'Soldering Station'],
    'Tools': [
        'Multimeter',
        'Oscilloscope',
        'Power Supply',
        'Small Drills',
        'Medium Drill',
        'Hammer',
        'Nose Pliers Small',
        'Pliers',
        'Wire Stripper Orange',
        'Wire Clump Yellow',
        'Medium Wire Cutter',
        'Green Wire Cutter + Stripper',
        'Blue Wire Cutter',
        'Tweezer',
        'Sucker',
        'Grinder',
        'Drill Big',
        'Level Tool',
        'Clamp Meter'
    ],
    'Motor Drivers': [
        'L293 Motor Driver Shield',
        'L298 Motor Driver',
        'IBT 2 Motor Driver Without ICs',
        'IBT 2 Motor Driver With ICs',
        'Stepper Motor Driver'
    ],
    'Communication Modules': [
        'RF Module Sets',
        'Bluetooth Module',
        'RF Module Low Frequency Set',
        'RF Card Reader',
        'FTDI Module'
    ],
    'Power and Charging': [
        '9 Volt Batteries',
        '3 Volt Cells',
        'Lipo Chargers',
        'Buck Converter',
        'Boost Converter'
    ],
    'Displays and Interfaces': [
        'LCD',
        '7 Segment Module',
        'VGA to HDMI Converter',
        'Level Converter'
    ],
    'Wiring and Connectors': [
        'Long Blue Wires Arduino',
        'Small Blue Wires Arduino',
        'Extensions USB Long',
        'Extensions USB Small'
    ],
    'Robotics and Drones': {
        'drone_components': [
            'Drone Controller FS-16 Radio',
            'Telemetry Drone',
            'ESCs Drone',
            'Flight Controller Drone',
            'FPV Camera Drone',
            'Drone Kit',
            'Drone GPS Module'
        ],
        'Motors and actuators': [
            'DC Motor Yellow',
            'Polulo DC Motors',
            'Encoder Motors Small',
            'Servo Large',
            'Servo Small',
            'Polulo Motors Medium'
        ],
        'wheels and tyres': [
            'Yellow Tyres',
            'Polulo Tyres',
            'Sumo Tyres',
            'Macnum Wheels'
        ],
        'accessories': ['IR China Imported']
    },
    'Miscellaneous': [
        'Logic Probe',
        'Battery Checker',
        'Buzzer',
        'Keypad',
        'Relay Module',
        'Bobs',
        'Medium Buzzer'
    ],

    'Others': [
    'PC',
    'Printer',
    'LCD Desktop',
    'KeyBoard',
    'Mouse',
    'HDMI to VGA',
    'VGA to HDMI',
    'HDMI Cable',
    'Power Cable',
]
      };

      categorySelect.addEventListener('change', (event) => {
        const selectedCategory = event.target.value;
        const modelOptions = models[selectedCategory] || [];
        
        modelSelect.innerHTML = '<option value="" disabled selected>Select Model</option>';
        modelOptions.forEach(model => {
          const option = document.createElement('option');
          option.value = model;
          option.textContent = model;
          modelSelect.appendChild(option);
        });
      });
    });
  </script>

</body>
</html>
