{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="https://i.ibb.co/RST4HvR/Untitled-design.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  {% tailwind_css %}
  <style>

    .sidebar {
      transition: transform 0.3s ease;
      transform: translateX(-100%);
    }

    .sidebar.active {
      transform: translateX(0);
    }


    .sidebar li {
      transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .sidebar li:hover {
      background-color: #f0f0f0;
      transform: scale(1.05);
    }

    .sidebar i {
      transition: color 0.3s ease;
    }

    .sidebar li:hover i {
      color: #3B82F6; /* Change to your preferred hover color */
    }
  </style>
</head>

<body>
{% comment %} {% if debug %}
    <script src="{% static 'django_browser_reload/reload.js' %}"></script>
{% endif %} {% endcomment %}
  {% comment %} admin side nav bar {% endcomment %}
  <div class="sidebar h-full bg-white w-full border border-gray-300 rounded-xl text-black flex flex-col justify-between overflow-y-auto">
    <div class="px-5 mt-3">
      <a href="#">
        <div class="flex justify-center items-center text-black py-2 px-2">
            {% comment %} <img src="https://i.ibb.co/RST4HvR/Untitled-design.png" alt="Logo" class="w-20 h-20"> {% endcomment %}
          <h1 class="text-2xl font-bold">Gears Portal</h1>
        </div>
    </a>
    
    
      <ul class="space-y-3 mt-5">
        <a href="{% url 'dashboard' %}" class="block">
          <li class="hover:bg-gray-200 cursor-pointer rounded-lg text-gray-500 py-3 text-md px-3">
            <i class="fa fa-home text-gray-500 mr-3"></i>Dashboard
          </li>
        </a>

        {% comment %} <a href="{% url 'members_register' %}" class="block">
          <li class="hover:bg-gray-200 cursor-pointer rounded-lg text-gray-500 py-3 text-md px-3">
            <i class="fa fa-users text-gray-500 mr-3"></i>Add Members
          </li>
        </a> {% endcomment %}

        <a href="{% url 'inventory_dashboard' %}" class="block">
          <li class="hover:bg-gray-200 cursor-pointer rounded-lg text-gray-500 py-3 text-md px-3">
            <i class="fa fa-box text-gray-500 mr-3"></i>Inventory
          </li>
        </a>
                
        <a href="{% url 'documentation_dashboard' %}" class="block">
          <li class="hover:bg-gray-200 cursor-pointer rounded-lg text-gray-500 py-3 text-md px-3">
            <i class="fa fa-file-text text-gray-500 mr-3"></i>Documentation
          </li>
        </a>

        <a href="{%url 'hiring_dashboard'%}" class="block">
          <li class="hover:bg-gray-200 cursor-pointer rounded-lg text-gray-500 py-3 text-md px-3">
            <i class="fa fa-users text-gray-500 mr-3"></i>Hiring
          </li>
        </a>
      </ul>
    </div>
    <div class="space-y-3 mb-5">
      <div class="h-1 rounded-2xl w-4/5 mx-auto bg-gray-200"></div>
      <ul class="px-5 space-y-3">
        <a href="{%url 'settings'%}">
          <li class="hover:bg-gray-200 cursor-pointer rounded-lg text-gray-500 py-3 text-md px-3">
            <i class="fa fa-cog text-gray-500 mr-3"></i>Settings
          </li>
        </a>
        <li class="hover:bg-gray-200 cursor-pointer rounded-lg text-gray-500 py-3 text-md px-3">
          <a href="{% url 'logout'%}"><i class="fa fa-power-off text-gray-500 mr-3"></i>Logout</a>
        </li>
      </ul>
    </div>
  </div>
  <script>
    //  JavaScript to toggle the sidebar animation
    document.addEventListener('DOMContentLoaded', function () {
      const sidebar = document.querySelector('.sidebar');
   
      sidebar.classList.add('active');
    });
  </script>
</body>

</html>
