{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard</title>
  {% tailwind_css %}
  <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
</head>

<body class="flex bg-gray-100">
  <aside class="h-screen w-1/4 p-5 fixed">
    {% include "Dashboard/admin_nav.html" %}
  </aside>
  <section class="h-screen w-3/4 p-5 absolute inset-y-0 right-0">
    {% include "Dashboard/admin_header.html" %}
    {% include "Dashboard/dashboard.html" %}
  </section>
</body>

</html>
