
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    {% comment %} <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script> {% endcomment %}
</head>

<body>
    {% comment %} admin side header nav {% endcomment %}
    <header class="flex items-center justify-between">
        {% comment %} <div>
            <p class="text-gray-400 w-48">Dashboard / <span class="font-bold text-black">Home</span></p>
        </div> {% endcomment %}
        <div class="w-full flex justify-end items-center space-x-2">
            <form action="" method="GET">
                <div class="flex items-center border border-gray-400 rounded-lg px-2">
                    <i class="fa fa-search text-gray-500 mr-3"></i>
                    <input type="text" name="search_text" placeholder="Search books"
                        class="w-full text-md px-2 py-2 border-none focus:outline-none bg-gray-100 focus:ring-0">
                </div>
            </form>
            <i class="fa fa-bell text-black"></i>
            <i class="fa fa-envelope text-black"></i>
            <i class="fa fa-commenting text-black"></i>
        </div>
    </header>
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success'%}
    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
    {% elif message.tags == 'info' %}
    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
    {% elif message.tags == 'warning' %}
    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
    {% elif message.tags == 'error' %}
    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
    {% endif %}
    {% endfor %}
    {% endif %}
</body>

</html>